
{% extends 'base.html.twig' %}

{% block body %}
    <h1>Pokemon Detail Ansicht</h1>

    <table>
        <tr>
            <td>Name:</td>
            <td>{{ pokemon.name}}</td>
        </tr>
        <tr>
            <td>Gewicht:</td>
            <td>{{ pokemon.weight}}</td>
        </tr>
        <tr>
            <td>Höhe:</td>
            <td>{{ pokemon.height }}</td>
        </tr>
        <tr>
            <td>Bild:</td>
            <td><img class="car-ing-top" src="{{ pokemon.image }}" alt=""></td>
        </tr>
    </table>

    <a class="btn btn-primary" href="{{ path('pokemonoverview') }}">Overview</a>

{% endblock %}